<p>user : <%= locals.user.name%></p>

<a href="/user/signOut">signOut</a>

<div>

    <form action="/posts" method="POST" enctype="multipart/form-data">
        
        <input type="text" name="content" required/>
        
        <input type="file" name="avatar" required/>

        <input type="submit" value="Submit">

    </form>


</div>


<div>

    <ul>

        <%for(post of postData){%>
        
            <li>
    
                <%=post.content%>

                <img src = "<%=post.avatar%>" alt="image">
    
            </li>
    
             
             
    
        <%}%>




    </ul>
    

</div>