 
<a href="/user/signOut">signOut</a>
<div>
    
    <a href="/user/profile/<%= locals.user._id%>">profile</a>

</div>

<div>

    <form action="/posts" method="POST" enctype="multipart/form-data">
        
        <input type="text" name="content" required/>
        
        <input type="file" name="picturePath" required/>

        <input type="submit" value="Submit">

    </form>


</div>

<p>user : <%= locals.user.name%></p>

 




<div>

    <ul>

        <%for(post of postData){%>
       
                
            <%-include('posts')%>

           
        <%}%>




    </ul>
    

</div>

 