<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>RRR</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
<link rel="stylesheet" href="../assets/css/hotelSignIn.css">
</head>
<body>
<!-- partial:index.partial.html -->
<!-- Form-->
<div class="form">
<div class="form-toggle"></div>
<div class="form-panel one">
<div class="form-header">
<h1>Account Login</h1>
</div>
<div class="form-content">
<form action="/hotel/create-session" method="POST" class="">
<div class="form-group">
<label for="email">Email</label>
<input type="email" id="email" name="email" required="required"/>
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="password" id="password" name="password" required="required"/>
</div>
<div class="form-group">
<label class="form-remember">
<input type="checkbox"/>Remember Me
</label><a class="form-recovery" href="#">Forgot Password?</a>
</div>
<div class="form-group">
<button type="submit">Log In</button>
</div>
</form>
<a href="/auth/hotel/google"> <button>google</button> </a>

</div>
</div>
<div class="form-panel two">
<div class="form-header">
<h1>Register Account</h1>
</div>
<div class="form-content">
<form action="/hotel/create" method="post">
<div class="form-group">
<label for="username">Hotel</label>
<input type="text" id="username" name="name" required="required"/>
</div>
<div class="form-group">
<label for="email">Email Address</label>
<input type="email" id="email" name="email" required="required"/>
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="password" id="password" name="password" required="required"/>
</div>
<div class="form-group">
<label for="cpassword">Confirm Password</label>
<input type="password" id="cpassword" name="confirm_password" required="required"/>
</div>
<div class="form-group">
<button type="submit">Add</button>
</div>
</form>
</div>
</div>
</div>
<div class="pen-footer"><a href="https://github.com/TeamProjectWD/RestaurantReviewAndRatingApplication" target="_blank">View on Github<i class="material-icons">arrow_forward</i></a></div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://codepen.io/andytran/pen/vLmRVp.js'></script>
<script>
        $(document).ready(function() {
        var panelOne = $('.form-panel.two').height(),
        panelTwo = $('.form-panel.two')[0].scrollHeight;
        $('.form-panel.two').not('.form-panel.two.active').on('click', function(e) {
        // e.preventDefault();
        $('.form-toggle').addClass('visible');
        $('.form-panel.one').addClass('hidden');
        $('.form-panel.two').addClass('active');
        $('.form').animate({
        'height': panelTwo
        }, 200);
        });
        $('.form-toggle').on('click', function(e) {
        e.preventDefault();
        $(this).removeClass('visible');
        $('.form-panel.one').removeClass('hidden');
        $('.form-panel.two').removeClass('active');
        $('.form').animate({
        'height': panelOne
        }, 200);
        });
        });
</script>
</body>
</html>