<link rel="stylesheet" href="/assets/css/signIN.css">
<link rel="stylesheet" href="/assets/css/hotelSignUp.css">

<% if (message != '') { %>
  <div class="flash <%= message[0].type %> fade">
      <p>
          <%= message[0].text %>
      </p>
  </div>
<% } %>
<div class="signInBodyWrap">

      <div class="video-container">
            <video autoplay muted loop id="bg-video">
                  <source src="/uploads/Intro masakan_mukbang free no copyright _ Intro cook mukbang free no copyright (online-video-cutter.com).mp4" type="video/mp4">
            </video>
      </div>

      <div id="containerForForm">
            <div id="imgInForm">
                <img src="https://images.unsplash.com/photo-1574936145840-28808d77a0b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHJlc3RhdXJhbnR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                          alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;width: 100%;
                          height: auto;
                          min-height: 100%;" />
            </div>
            <div id="originalFormContainer">
                <form action="/hotel/sendOtpVerification" method="POST" id="originalForm">
                    <p style="margin-bottom: 50px; color: rgb(255, 115, 0); font-family: cursive; font-size: 30px; border-bottom: 2px solid #ff7e05; padding-bottom: 2px;"><span class="first-letter">H</span>otel <span class="first-letter">           R</span>egistration </p>
                    <!-- <h3 style="letter-spacing: 1px; text-align: center; color:aliceblue; font-weight: 400; font-family: 'Times New Roman', Times, serif; font-size: 22px; margin-bottom: 50px;">Sign into your account</h3> -->
                    <div >
                        <!-- <label for="email">Email address</label> -->
                        <!-- <br> -->
                        <input type="text" name="name" placeholder="Hotel name" required id=""  autocapitalize="off" autocomplete="off" autocorrect="off" >    
                    </div>
                    <div >
                        <!-- <label for="email">Email address</label> -->
                        <!-- <br> -->
                        <input type="email" name="email" placeholder="Email" required id="email"  autocapitalize="off" autocomplete="off" autocorrect="off" >    
                    </div>

                    <div style="position: relative;">
                        <!-- <label for="password">Password &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;</label> -->
                        <!-- <br> -->
                        <input type="password" name="password"  placeholder="Enter your password"  required id="password" autocomplete="off">
                        <i class="toggle-password fas fa-eye-slash fa-xs"></i>
                    </div>
                    <div style="position: relative;">
                        <!-- <label for="password">Password &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;</label> -->
                        <!-- <br> -->
                        <input type="password" name="confirm_password" id="confirmPassword" placeholder="Confirm your password" required  autocomplete="off">
                        <i class="toggle-password-confirm fas fa-eye-slash fa-xs"></i>
                    </div>
                      <span id="errorText" class="error-text"></span>
                      <div id="buttonsLogin">

                        <!-- <button class="btn" type="submit" >Login</button> -->

                        <button id="submitButton" class="btn"  type="submit" >Sign Up</button>
                      </div>

                      <!-- <div class="container">
                        <div class="line"></div>
                        <div class="or">OR</div>
                        <div class="line"></div>
                      </div>
                      
                      <div style="margin-top: 30px;">
                        <button class="buttonG" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 262">
                            <path fill="#4285F4" d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"></path>
                            <path fill="#34A853" d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"></path>
                            <path fill="#FBBC05" d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"></path>
                            <path fill="#EB4335" d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"></path>
                          </svg>
                            Continue with Google
                          </button>
                      </div> -->

                      <!-- <div id="downResto">
                        <div>
                            <p style="color: aliceblue; margin-top: 15px;">Do you own a restaurant ?</p>
                        </div>
                        <div>
                            <button class="btn" type="button"  onclick="location.href='/hotel/signIn'">
                                Resto
                            </button>
                        </div>
                      </div> -->
                </form>

                <div class="containerForOtp" id="otpVersion" style="display: none;">
                  <span>
                    <i class="bx bxs-check-shield"></i>
                  </span>
                  <h4>Enter OTP Code To SignUp</h4>
                  <form action="#" class="otpForm">
                    <div class="input-field">
                      <input class="inputsOtp" type="number" />
                      <input class="inputsOtp" type="number" disabled />
                      <input class="inputsOtp" type="number" disabled />
                      <input class="inputsOtp" type="number" disabled />
                    </div>
                    <button id="otpButton">Verify OTP</button>
                  </form>
                  <div id="errorTextAjax" class="error-text" style="text-align: center;"></div>
                </div>

                <!-- <form action="" id="otpVersion" style="display: none; flex-direction: column; justify-content: space-evenly; align-items: center; height: 100%;">
                  <p style="margin-bottom: 50px; color: rgb(255, 115, 0); font-family: cursive;"><span class="first-letter">H</span>otel <span class="first-letter">P</span>ortal </p>

                  <div>
                    <p style="color: aliceblue;font-family: serif;">Verify otp to SignUp....</p>
                  </div>
                  <div style="margin-top: -70px;" id="otpForm">
                    <input id="otpValueInForm" type="text" inputmode="numeric" name="otp" placeholder="Enter your otp...." required  maxlength="4" minlength="4">    
                    <button style="margin-left: 20px;" type="submit">verify</button>
                  </div>
                  
                  <span id="errorTextAjax" class="error-text" style="text-align: center;"></span>
                </form> -->

            </div>
      </div>

</div>

 

<script src="/assets/js/hotelSignUp.js"></script>


 


 

