 

 <h1> Hotel Sign In</h1>


 <form action="/hotel/create-session" method="POST" class="">
      
         <input type="email" name="email" placeholder="Email" required>    
         <input type="password" name="password" placeholder="Password" required>          
         <input type="submit" value="Sign in">
         
 </form>
 
 <a href="/hotel/signUp">hotel sign up</a>
   
 <br>
 <br>

 <a href="/user/signIn">user signIn</a>
 