<span style="margin-left: 1200px;">
    <a href="/"><button>Home</button></a>
</span>
    <div>
        
        <h1>Hotel Name :-  <%= HotelProfile.name %> </h1>

        <%if(typeOfUser == "Hotel"){%>
            
            <h2 style="text-align: center;">menu </h2>

            <br>

            <form action="/hotel/addMenu/<%=HotelProfile.id%>" method="POST" enctype="multipart/form-data">
                <input type="file" name="picturePath" required>
                <input type="text" name="name" id="" placeholder="Enter name of Dish">
                <input type="text" name="content" placeholder="Decribe about the item">
                <input type="submit" value="Add menu">
            </form>


        <%}%>

        <div id="menuArray" style="border: 2px solid black;">
            <% for(item of HotelProfile.menuArray){%>

                <%-include('menu')%>
                 
             <% } %>   
        </div>

        <h2>reviews</h2>

        <ul>

            <%for (post of HotelProfile.posts) { %>

                <%-include('posts')%>
    
            <%}%>

        </ul>

        
         
    

         

    </div>

     

<!-- <script type="text/javascript" src="/assets/js/userPage.js"></script> -->



