<html>
    <head>

        

    </head>

    <body> 

        <h1>
            Major Project
        </h1>

        <%- include("header.ejs") -%>

            <%- body%>

        <%- include("footer.ejs") -%>


    </body>


</html>