<link rel="stylesheet" href="/assets/css/search.css">

  <form id="search-form">
    <div class="form-group d-flex" style="flex-direction: column;">
      <div class="search-container">
        <div>
          <input style="color: rgb(168,168,168);" type="text" class="search-input" name="String" placeholder="Search" id="search-input" autocomplete="off">
        </div>
        <div>
          <a  class="search-btn" id="search-btn">
            <i id="hotelSearchBtn" class="search_btn fas fa-search"></i>   
          </a>
        </div>
      </div>
        <ul id="search-results" class="list-group mt-2 ulElement" ></ul>
    </div>
    <!-- <div style="position:relative; right:0">
      <button type="submit" class="btn btn-primary" style="border-radius: 5rem;"><i class="fa-solid fa-magnifying-glass" style="font-size: 1.5rem;"></i></button>
    </div> -->
      
  </form>