<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form id="search-form" class="form-inline">
          <div class="form-group d-flex">
            <label for="search" class="sr-only">Search</label>
            <input type="text" class="form-control" name="String" placeholder="Search" id="String">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
           
        </form>
        <ul id="search-results" class="list-group mt-2"></ul>
      </div>
    </div>
</div>

 