<link rel="stylesheet" href="/assets/css/share.css">

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: rgb(18,18,18); height: 100%;">
    <div style="margin-left: 25px;">
        <%-include('posts')%>
    </div>
    <div style="margin-bottom: 100px;">
        <a href="/"><button  class="spacebtn" type="button">
            <strong>H O M E</strong>
            <div id="container-stars">
              <div id="stars"></div>
            </div>
          
            <div id="glow">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
        </button></a> 

    </div>
</div>
