 
<div class="form-check form-switch">
  <input class="form-check-input flexSwitchCheckChecked-<%=item.id%>" type="checkbox" id="flexSwitchCheckChecked" <% if(item.isAvailable) { %> checked <%}%>>
  <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
</div>
<div id="result"></div>
  
   
   

<script>

    $(document).ready(function() {
      $('#flexSwitchCheckChecked').bootstrapSwitch({
        onText: 'Available',
        offText: 'Unavailable',
        labelWidth: 0
      });
    });

    new ToggleClass("<%=item.id%>")

</script>