

 <h1> User Sign In</h1>


<form action="/user/create-session" method="POST" class="">
     
        <input type="email" name="email" placeholder="Email" required>    
        <input type="password" name="password" placeholder="Password" required>          
        <input type="submit" value="Sign in">
        
</form>
       
  
<a href="/user/signUp">user signUp</a>



<br>
<br>


<a href="/hotel/signIn">hotel sign in</a>