body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

body::-webkit-scrollbar { 
    display:none; 
}
#Names{
    margin-bottom: 40px;
}
#my-name {
    font-size: 2rem;
    margin-top: 25vh;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.9;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/004/558/229/large/thiranjaya-gamlath-keyboard.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

/* Horizontal Lists */

.horizontal-lists {
    list-style: none;
    padding-left: 0px;
    margin-right: -50px;
}

.horizontal-lists li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-size:0.8rem;
    padding-right: 20px;
}


.horizontal-lists li a {
    color: white;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
}

.horizontal-lists li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
    display: block;
}

.text-center {
    text-align: center;
}
#Namess{
     
    text-align: center;
    color:white;
     
    font-size: 2rem;
}
.oho li{
    
    
    display: inline-block;
    padding:20px;
    margin:10px;
    font-size: 1rem;
    color: white;

   

    
    
}
.bars{
    color: white;
    margin: 0;
    margin-left: 90%;
    display: none;
}

.bars i {
    font-size: 2rem;
}

.dropdown-list{
    margin: 0;
    display: none;
    background-color: #828470;
    box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align:left;
    padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%;
}

.dropdown-list li{
    margin: 0.4rem 0px;
}

.no-list-style{
    list-style: none;
}

.no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}

.no-list-style li a{
    list-style: none;
    color: white;
    text-decoration: none;
}
.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    
    color: lightgrey;
    border-bottom: 1px solid black;
}

 


ul{
	 margin: 0px;
     margin-bottom: -100px;
     margin-right: 50px;
}
.oho li:hover{

    box-shadow:0px 0px 10px 2px rgba(200, 196, 196, 0.6 );
    border-radius: 60%;
     


}
#ok{
    height: 20rem;
    width:20rem;
    margin: auto;
}
#photo{
    text-align: center;
    border-style: 1px solid white ;
    position: relative;
    height:100%;
    width: 100%;
    border-radius: 60%;
    margin-top: -40%;
    box-shadow: 0px 0px 10px 2px white;
}
#about{
    width: 50%;
    line-height: 25px;
    font-style: inherit;
    text-align: center;
    font-size: 1.5rem;
    justify-content: center;
    font-style: italic;
    margin-left: 380px;
    color: rgba(100, 100, 300,1.0);
    text-decoration: blink; 

}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

section:nth-child(2n+1) {
    background-color: #9e9b9b29;
}

section:nth-child(2n) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

 
     
}
#Skills span{
    color: blue;
    font-size: 2rem;

}
.heading{
    color:blue;
    font-size: 2rem;
}
span i{
    color:blue;
    font-size:2rem;
}
span{
    margin-top: 100px;
}
.skillName{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}
.skillName span i{
    color: rgba(100,100,300,1);
    font-size: 2.5rem;
}
.skillName #skillSpelling{
    color: rgba(100,100,300,1);
    font-size: 2.5rem;
} 
#skillset{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
 .skillArea {
    height: 2.0rem;
    width: 12rem;
    border-radius:1rem;
    background-color:lightgrey;
    overflow: hidden;
    box-shadow: 1px 1px 5px 5px #b9b9b9 inset;
    margin: 50px;
    margin-bottom: 70px;

 }
 .skillArea:hover{
    height: 2.0rem;
    width: 12rem;
    border-radius:1rem;
    background-color:lightgrey;
    overflow: hidden;
    box-shadow: 1px 1px 5px 5px #b9b9b9 inset;
    margin: 50px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 1px 1px grey;


 }


#per{
    width:90%;
    height: inherit;
    background-color: rgba(100,100,300,1);
     border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
     
}
.sai{
    width:90%;
    height: inherit;
    background-color:darkorange;
     border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
     
}
#per2{
    width:90%;
    height: inherit;
    background-color:seagreen;
     border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
     
}
#per3{
    width:90%;
    height: inherit;
    background-color:lightpink;
     border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
     
}
#per4{
    width:90%;
    height: inherit;
    background-color:brown;
     border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
     
}
.name1 span{
    color:white;
    font-size: 1.5rem;
    padding:10px;
    vertical-align: middle;


}
#per1{
    width:80%;
    background-color:rgba(300, 300, 100, 0.8);
    background-color: #2857a4;
}
#portSym i{
    color: rgba(100,100,300,1);
    font-size: 2rem;
}
#port{
    color: rgba(100,100,300,1); 
    font-size: 2rem;
    border-bottom: 100px;
}
#portii{
    margin-bottom: 100px;
}
.img img{
    width:25%;
    height: 25%;
    display:flex;
    justify-content: space-around;
}
.portfolio{
    width: 75%;
}
.img{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.con{
    font-size:2rem;
    color:  white;
     
}
#contact{
     background-image: linear-gradient(to right,#2857a4,#403066) 

}
.con i{
    color:white;
    
}
#contact span i{
    color:white
        
}
#contact {
    background-color: linear-gradient(50deg, #2857a4 0%, #403066 74%);    
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



/* Common Margin Classes */

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}



/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}



/* setting background-color */

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}



/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}
#experience{
    width:75%
    height:inherit;    
}
#work i{
    font-size:2rem;
    color:rgba(100,100,300,1);
    
}
#work span{
    font-size:2rem;
    color:rgba(100,100,300,1);
    
}
 
.timeline {
    position: relative;
    width: 75%;
}

.timeline-box {
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}

.timeline-box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
    left: -9%;
}

.timeline-container {
    padding: 8px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo > img {
    width: 100%;
}

.timeline-divider {
    position: absolute;
    width: 0;
    top: 8%;
    left: 50%;
    border: 1px dashed #0096fa6b;
    height: 67%;
    color: #433E3F;
}

.timeline-divider .timeline-traveller {
    position: sticky;
    top: 150px;
    z-index: 2;
}

.timeline-divider i {
    font-size: 2rem;
    transform: rotate(90deg);
    margin-top: -20px;
    display: block;
    color: #2857a4;
}

.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.text-align-justify {
    text-align: justify;
}


.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
 .logos i{
    color: rgba(100,100,300,1);
 }

 #logo1 i{
    size: 2rem;
     
    color:rgba(100,100,300,1); 
    
}
#pyt{
     justify-content: left;
}

 

}
.m-blue {
    color: #2857a4;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}



/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}
 


@media only screen and (max-width: 572px) {
    
    .timeline-box {
        width: 100%;
        left: 10% !important;
    }

    .bars {
        display: block;
    }
    
    
    
    .horizontal-lists{
        display: none;
    } 
    

}



@media only screen and (max-width: 768px) {


    .timeline-box {
        width: 90%;
        left: 10% !important;
    }

    .timeline-box::after {
        left: -9.3% !important;
    }

    .timeline-divider {
        top: 10%;
        left: 2% !important;
    }

    #contact-form {
        margin-left: 0%;
    }

    #contact-container {
        flex-wrap: wrap;
    }

    #my-details-container {
        width: 80%;
        margin: 10%;
    }

    #contact-form-container {
        width: 80%;
        margin: 10%;
    }

}
