:root{
  --orangeAlike : #E27D60;
  --lightGreenAlike:#826206;
  --lightOrangeAlike:#E8A87C;
  --darkRosePink:#C38D9E;
  --darkTurquoise:#41B3A3;
}

header{
  background: rgba(0, 0, 0, 0.5)!important;
  display: flex!important;
  flex: 1!important;
  justify-content: space-between!important;
  height: 7%!important;

  
}

footer{

  background: rgba(0, 0, 0, 0.5);

}



html, body {
  height: 100%;
  
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  header {
    flex: 1;
   
  }
  #body-wrap{
  
    flex: 40;
   
  }
  
  footer {
    flex: 1;
  }

  @media screen and (max-width: 576px) {
    body {
      height: 100vh;
      margin: 0;
    }
  }


  /* refresh-line */
  #refresh-line {
    height: 3px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    z-index: 99999;
    transform: translateX(-100%);
    animation: slide-right 1s linear forwards;
    }
    
    
    @keyframes slide-right {
    100% {
      transform: translateX(100%);
    }
    }