.signInBodyWrap{
    
    width: 100%;
}
.signInWrap{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: transparent;
    border-radius: 1rem;
    box-shadow: 4px 4px 60px 11px black;
    width: auto;
    height: 55%;
    overflow: hidden;
}

.SignInForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    background: hsla(0, 0%, 100%, 0.55);
}

.video-container{
    width: 100%;
}

.video-container video{
    width: 100%;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -100;
    filter: brightness(0.5);
  }

.SignInForm form{
    display: flex;
    flex-direction: column;    
}

/* .imageWrap{
    flex:1;
} */

.imageWrap img{
    height: 100%;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  